@font-face {
    font-family: odin-font;
    src: url(Norse-Bold.otf);
}

body {
    display: flex;
    margin: 0%;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(235, 235, 235);;
}

.imageHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

#image {
    height: 98.7vh;
    max-width: 33vw;
}

.imagebanner {
    position: absolute;
    text-align: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.678);
    color: white;
    font-size: 3vw;
    font-family: odin-font;
    top: 20rem;
    z-index: 0;
}

body div.right{
    padding-left: 3rem;
}

.signUpHolder {
    display: flex;
    flex-direction: column;
}

.prompt {
    padding-left: 3rem;
    text-shadow: 5px 5px 1px #00000017;
    margin-bottom: 100px;
    width: clamp(536px, 50vw, 50vw);
}

.signUpHolder {
    background-color: rgb(235, 235, 235);
    margin-right: 100%;
}

.signUpForm {
    background-color: rgb(255, 255, 255);;
    box-shadow: 0px 10px 20px #00000044;
    height: min(400px, 100%);
    width: clamp(536px, 75vw, 75vw)
}

.form {
    height: 300px;
    width: 520px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}

.form div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    color: #555555;
    font-weight: bold;
}

input {
    width: 15rem;
    height: 2rem;
    border-radius: 5px;
    border-style: solid;
    border-color: #c4c4c4;
    margin-bottom: 1rem;
    font-size: 18px;
    
}

input:invalid {
    border-color: rgb(199, 54, 54);
}

#create {
    display: block;
    position: absolute;
    margin-top: 2rem;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 10px #000000;
    color: white;
    background-color: #596D48;
    height: 4rem;
    width: 16rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    border-style:none;
}

#login {
    margin-top: 8rem;
    font-size: 20px;
    font-weight: bold;
}

a:visited, a{
    color: #596D48;
}